# Resource count (RC 3)
RC 4

# Graph height (GH 6)
GH 6

# Task count (TC 20)
TC 10

# Average out-degree (AOD 2)
AOD 2

# Communication to computation ratio (CCR 2.0)
CCR 1.0

# Heterogeneity factor (HF 0.5)
HF 0.5

# Communication data packet range (CDR 10 100)
CDR 1 1000

# Link Bandwidth range (LBW 10 100)
LBW 1 100

# Random seed value SEED
SEED 2344